.container {
    border: 1px solid grey;
    border-radius: 25px;
    width: 27%;
    margin: auto;
    padding: 10px;
    text-align: center;
  }
  hr{
    border-top: 0px solid grey;
    margin-left: -10px;
    margin-right: -10px;
  }
  .button {
    background: transparent;
    padding: 10px 40px;
    font-size: 14px light;
    text-align: center;
    border: none;
    color: #262626;
  }
  
  