* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.page .header {
  text-align: center;
}

/* Logo */

.logo {
  background: cover no-repeat;
  width: 175px;
  height: auto;
  cursor: pointer;
  margin-bottom: 8px;
}

/* First Container */
.page .header p,
.page .header button {
  margin-bottom: 15px;
}

.page .header > p {
  font-family: "Segoe UI", sans-serif;
  font-weight: 600;
  color: #8e8e8e;
  font-size: 16px;
  line-height: 20px;
  margin: 0 10px 10px;
  text-align: center;
}

.page .header > button {
  width: inherit;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #0095f6;
  color: #ffffff;
  cursor: pointer;
}

.page .header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #8e8e8e;
}

.page .header div p {
  padding: 0 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.page .header div hr {
  width: 200px;
  border-top: 1px solid #dbdbdb;
}

.top-react-icons {
  font-size: 1rem;
  margin: 0px 8px 0px 0px;
}

/* Second Container*/
.container {
  display: flex;
  flex-direction: column;
}

.container form,
input {
  width: inherit;
}

.container form input {
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  padding: 10px 5px;
  margin: 5px 0;
}

.container form input:last-of-type {
  margin-bottom: 10px;
}

button {
  width: inherit;
  margin-bottom: 20px;
  padding: 7px 20px;
  border-radius: 5px;
  border: none;
  background-color: #0095f6;
  color: #ffffff;
  cursor: pointer;
}
.container footer {
  font-size: 12px;
  color: #8e8e8e;
  text-align: center;
  padding: 10px 10px 40px;
}

footer p a {
  text-decoration: none;
  color: #8e8e8e;
  font-weight: 600;
}

/* Third Container */
.ThirdContainer {
  border: 1px solid #ddd;
  width: 350px;
  margin: 10px auto 20px;
  overflow: auto;
  background-color: #fff;
  text-align: center;
  font-size: 14px;
  align-items: center;
}

.ThirdContainer p {
  margin: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ThirdContainer p a {
  text-decoration: none;
  color: #0095f6;
}

/* Fourth Container */
.FourthContainer {
  text-align: center;
  font-size: 14px;
  padding-bottom: 25px;
  width: 350px;
  margin: 0px auto 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.FourthContainer img {
  display: inline-block;
  height: auto;
  width: 40%;
  padding: 20px 2px;
  cursor: pointer;
}

/* Fifth Container */
.FifthContainer {
  text-align: center;
  align-items: center;
  margin: 0px auto 40px;
  width: 100%;
}

.FifthContainer .links {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  width: 70%;
}

.FifthContainer .links a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: #8e8e8e;
  padding: 0px 8px;
}

.FifthContainer .copyright {
  display: inline-block;
  width: 29%;
  text-align: center;
  color: #8e8e8e;
  font-size: 12px;
  font-weight: 500;
}

/* Mobile Styles */

@media only screen and (max-width: 400px) {
  body {
    font-family: Freight Sans;
  }

  .page {
    width: 250px;
    background-color: #fafafa;
  }

  .header {
    width: inherit;
    margin-top: 10px;
  }

  .container {
    width: inherit;
  }

  .option {
    margin: 80px 0;
  }

  .container input {
    padding: 10px 5px;
    margin: 5px 0;
  }

  .footer {
    width: inherith;
  }
}

@media only screen and (min-width: 401px) {
  body {
    font-family: Neue Helvetica;
  }
  .page {
    border: 1px solid #dbdbdb;
    width: 350px;
    background-color: white;
    margin: 40px 40px 10px 40px;
  }

  .header {
    width: 270px;
    margin-top: 15px;
  }

  .container {
    width: 270px;
  }

  .FifthContainer {
    margin: 2px auto;
    width: 100%;
  }
}
